body {
  text-align: center;
}
/* h2 {
  visibility: hidden;
} */
#game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid rgb(185, 182, 182);
  margin: 2px;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}
